In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

## Excercise 1

In [ ]:
df1Lst = [
          [1, 1, 0, 1, 0, 1],
          [1, 1, 1, 1, 1, 0],
          [1, 1, 1, 0, 1, 0],
          [1, 1, 0, 1, 0, 0],
]

df1 = pd.DataFrame(df1Lst, columns=['A', 'B', 'C', 'D', 'E', 'K'])
df1

   A  B  C  D  E  K
0  1  1  0  1  0  1
1  1  1  1  1  1  0
2  1  1  1  0  1  0
3  1  1  0  1  0  0

In [ ]:
frq_items = apriori(df1, min_support = 0.6, use_colnames = True)
print(frq_items)
rules = association_rules(frq_items, metric ="lift", min_threshold = 0.6)
print(rules)

   support   itemsets
0     1.00        (A)
1     1.00        (B)
2     0.75        (D)
3     1.00     (B, A)
4     0.75     (D, A)
5     0.75     (B, D)
6     0.75  (D, B, A)
   antecedents consequents  antecedent support  consequent support  support  \
0          (B)         (A)                1.00                1.00     1.00
1          (A)         (B)                1.00                1.00     1.00
2          (D)         (A)                0.75                1.00     0.75
3          (A)         (D)                1.00                0.75     0.75
4          (B)         (D)                1.00                0.75     0.75
5          (D)         (B)                0.75                1.00     0.75
6       (D, B)         (A)                0.75                1.00     0.75
7       (D, A)         (B)                0.75                1.00     0.75
8       (B, A)         (D)                1.00                0.75     0.75
9          (D)      (B, A)                0.75                1.00     0.75
10         (B)      (D, A)                1.00                0.75     0.75
11         (A)      (D, B)                1.00                0.75     0.75

    confidence  lift  leverage  conviction
0         1.00   1.0       0.0         inf
1         1.00   1.0       0.0         inf
2         1.00   1.0       0.0         inf
3         0.75   1.0       0.0         1.0
4         0.75   1.0       0.0         1.0
5         1.00   1.0       0.0         inf
6         1.00   1.0       0.0         inf
7         1.00   1.0       0.0         inf
8         0.75   1.0       0.0         1.0
9         1.00   1.0       0.0         inf
10        0.75   1.0       0.0         1.0
11        0.75   1.0       0.0         1.0

##Association rules found:<br>
{A} => {B}<br>
{B} => {A}<br>
{D} => {A}<br>
{D} => {B}<br>
{D, B} => {A}<br>
{D, A} => {B}<br>
{D} => {B, A}<br>